.protocol-title {
	color: var(--color-cyan);
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 15px;
	text-align: center;
	text-shadow: 0 0 5px var(--color-cyan);
	border-bottom: 1px solid var(--color-cyan);
	padding-bottom: 8px;
}