@import "@/styles/base.css";
@import "@/styles/components/BackgroundEffects.css";
@import "@/styles/components/Animations.css";

@import "./Scrollbar.css";
@import "./NavSidebar/NavSidebar.css";
@import "./modal/Modal.css";

/* Panel de chats*/
@import "./ChatsPanel/ChatsPanel.css";

/* Footer */
@import "@/styles/pages/login/Footer/Footer.css";

.messenger-container {
	display: flex;
	height: 93vh;
	width: 100vw;
	position: relative;
	z-index: 2;
}