@import "@/styles/base.css";
@import "@/styles/components/BackgroundEffects.css";
@import "@/styles/components/Animations.css";

/* Panel de navegación */
@import "./NavSidebar/NavSidebar.css";

/* Panel de chats*/
@import "./ChatsPanel/ChatsPanel.css";

/* Panel de Conversaciones */
@import "./ConversationPanel/ConversationPanel.css";

/* Footer */
@import "@/styles/pages/login/Footer/Footer.css";

/* Modales */
@import "./Modals/Modals.css";

/* ScrollBars */
@import "./Scrollbar.css";

.messenger-container {
	display: flex;
	height: 93vh;
	width: 100vw;
	position: relative;
	z-index: 2;
}