/* Barra de navegación lateral 
	Perfil, Mensajes y Configuración
*/

@import "./NavItem.css";
@import "./ProfilePic.css";

.nav-sidebar {
	width: 80px;
	background: rgba(10, 15, 25, 0.8);
	border-right: 1px solid var(--color-cyan);
	box-shadow: 0 0 10px var(--color-glow);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	z-index: 3;
}