@import "@/styles/components/Corner.css";
@import "CTR/CTR.css";

/* PANEL CENTRAL - Login / Registrarse */
.center-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	padding: 20px 30px;
}