@import "SystemInfo.css";

.footer {
	grid-column: 1 / 4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-top: 1px solid var(--color-cyan);
	box-shadow: 0 0 10px var(--color-glow);
	position: relative;
	overflow: hidden;
}

.footer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, 
		transparent 0%, 
		rgba(0, 255, 255, 0.05) 50%, 
		transparent 100%);
	animation: slide 3s infinite linear reverse;
}