/* Contenedor del QR */
.qr-container {
	background: rgba(0, 0, 0, 0.4);
	border: 2px solid var(--color-cyan);
	padding: 10px;
	margin-bottom: 25px;
	box-shadow: 
		0 0 15px var(--color-glow),
		inset 0 0 15px rgba(0, 255, 255, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
	z-index: 3;
}

.qr-code {
	width: 200px;
	height: 200px;
	position: relative;
	box-shadow: 0 0 20px var(--color-glow);
	display: flex;
	align-items: center;
	justify-content: center;
}