@import "QRContainer.css";
@import "SecretKey.css";

/* Panel izquierdo - QR */
.qr-panel {
	flex: 1;
	background: rgba(10, 15, 25, 0.8);
	border-radius: 10px;
	padding: 30px;
	box-shadow: 
		0 0 15px var(--color-cyan),
		inset 0 0 20px rgba(0, 255, 255, 0.1);
	border: 1px solid var(--color-cyan);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.qr-panel::after {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	background: linear-gradient(45deg, 
		transparent 0%, 
		var(--color-cyan) 50%, 
		transparent 100%);
	opacity: 0.05;
	z-index: 0;
	animation: rotate 20s linear infinite;
}