.option-content {
	flex: 1;
}

.option-title {
	letter-spacing: 1px;
	color: var(--color-text);
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.option-description {
	color: rgba(158, 252, 255, 0.7);
	font-family: var(--fuente-secundaria);
	font-size: 14px;
	line-height: 1.4;
}