.option-status {
	width: 60px;
	height: 30px;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease;
}

.option-status.active {
	background: rgba(0, 255, 255, 0.3);
}

.option-status::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: var(--color-text);
	transition: all 0.3s ease;
}

.option-status.active::after {
	left: calc(100% - 27px);
	background: var(--color-cyan);
	box-shadow: 0 0 8px var(--color-cyan);
}