@import "FieldGroup.css";
@import "Button.css";

/* Formularios de Iniciar Sesión y Registrarse */
.form-container {
	display: none;
	padding-bottom: 10px;
}

.form-container.active {
	display: flex;
	flex-direction: column;
}